- turbo_page_requires_reload
.container.mt-5
  %h1.text-secondary.text-center.mb-5
    %span.text-primary Meetups!

  - @events.each do |event|
    - tickets_left = @tickets_left[event.id]
    - cache [event, tickets_left]  do
      = render partial: 'events/index/event', locals: { event: event, tickets_left: tickets_left }
