.container.mt-5
  %h1.text-secondary.text-center.mb-5
    %span.text-primary Meetup!
    Events

  - @events.each do |event|
    - cache event do
      = render partial: 'events/index/event', locals: { event: event }
